<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <h1>{{ word }}</h1>
  </header>
  <main>
    <p>
      Turns out, I have not been reading the directions properly & spent most of my time on index.html.<br>
      It was <b>NOT</b> fun ;-;
    </p>
  </main>
  <footer>
    <h1>{{ word2 }}</h1>
    <p>
      Luckily, I was persistent to fix my supposed interpolition malfunction before the deadline creeps ins.
      I wanted to use 1 other variable type but I sadly did not know how or what the others are.
      Still getting used to commiting these. Kind of have to use this terminal to prep staging & git bash to push.
      Overall, a rough but fresh start. 
    </p>
  </footer>
</body>

</html>