/*
Danny Le
2023-09-18

If I may not have used at least 2 different directories, I'll at least go for the bonus
Mainly just unsure how I would use the the others directories for displaying info.
*/

body {
    text-align : center;
    background : linear-gradient(to bottom right, red, green, blue);
    color : rgb(250, 250, 250);
    height : 850px;
}

h1:hover {
    color : black;
}

table {
    text-align: left;
}

tr {
    background : linear-gradient(to bottom,red, blue);
    color : blue;
    height : 100px;
}
tr:hover{
    background : linear-gradient(to top,red, blue);
    color : red;
}

td {
    text-align: center;
    border : 2.5px dashed white;
    background-color : rgb(0, 0, 0);
    color : rgb(250, 250, 250);
}
td:hover {
    border : 5px dashed black;
    background-color : rgb(250, 250, 250);
    color : rgb(0, 0, 0);
}
