<!DOCTYPE html>
<!--
Danny Le
2024-09-18
-->

<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <!-- Future Nav bar-->
    <div class="nav-bar">
      <nav>
        <!-- runterLink & routerLinkActive allows <a>s to function -->>
        <a routerLink="/gems" routerLinkActive="active">Gem List</a>
        <a routerLink="/modify-gem" routerLinkActive="active">Modify Gem</a>
        <a routerLink="**" routerLinkActive="active">Totally Real Link!!1!</a>
      </nav>
    </div>

    <h1>{{ title }}</h1>
    <router-outlet></router-outlet>
  </body>
</html>