
<div *ngIf="gem" class="app-gem-list-item">
    <h2> Gem </h2>
    <p> <strong> ID: </strong> {{ gem.id }} </p>
    <p> <strong> Material: </strong> {{ gem.material}} </p>
    <p> <strong> Price: </strong> {{ gem.price }} </p>
    <p> <strong> Creator: </strong> {{ gem.productionCompany }} </p>
    <p> <strong> Shiny: </strong> {{ gem.shiny ? 'true': 'false' }} </p>
    <p> <strong> Rarity: </strong> {{ gem.rarity ? 'rare': 'common' }} </p>
    <p> <strong> Image: </strong> <img src="diamond.jpg" alt=""/> </p> <!--An attempt to make the desc. img-->  
    <button (click)="goBackward()" [disabled]="index === 0">Previous</button>
    <button (click)="goForward()" [disabled]="index === gemList.length - 1">Next</button>
    <button (click)="goBack()">Back to Gem List</button>
</div>