<div class="container">
    <h2>Gem List</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Material</th>
                <th>Price</th>
                <th>Creator</th>
                <th>Shiny</th>
                <th>Rarity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gem of gemList" [routerLink]="['/gems', gem.id ]">
                <td>{{ gem.id }}</td>
                <td>{{ gem.material }}</td>
                <td>{{ gem.price }}</td>
                <td>{{ gem.productionCompany }}</td>
                <td>{{ gem.shiny ? 'Yes' : 'No' }}</td>
                <td>{{ gem.rarity ? 'rare' : 'uncommon' }}</td>
            </tr>
        </tbody>
    </table>
   </div>
